@layer components.search {
    ::placeholder {
        color: var(--gray-6);
    }

    search-form {
        display: grid;
        grid-template-rows: min-content auto;
        grid-template-areas:
            "search"
            "results";

        > section {
            position: sticky;
            top: 0;

            grid-area: search;

            display: grid;
            padding-top: var(--size-2);
            width: 100%;
            background-color: var(--surface-1);
        }
    }

    input {
        display: block;
        margin: 0 var(--size-2) var(--size-2);

        font-size: var(--font-size-3);

        border: 1px solid;

        &:focus-visible {
            outline-offset: none;
        }

        ::placeholder {
            color: var(--gray-6);
        }
    }

    index-facets {
        display: grid;
        align-content: start;
        grid-area: facets;

        &:empty {
            display: none;
        }
    }

    search-results {
        grid-area: results;

        display: grid;
        grid-template-rows: max-content;
        gap: var(--size-3);
        /* gap: 0 var(--size-3); */
        align-items: start;

        padding: var(--size-2);

        overflow: auto;

        article {
            font-weight: var(--font-weight-2);

            border: 1px solid var(--gray-2);
            border-radius: var(--radius-2);
            background: white;
            box-shadow: var(--shadow-2);

            @media (prefers-color-scheme: dark) {
                border-color: var(--gray-7);
                background: var(--gray-8);
            }
        }

        dl {
            display: grid;

            padding: var(--size-3);

            grid-template-columns: max-content auto;
            gap: var(--size-3);

            align-items: top;
        }

        dt {
            margin: 0;
            font-weight: var(--font-weight-4);
            color: var(--gray-5);
        }
    }

    result-stats {
        position: sticky;
        top: 0;

        display: flex;
        padding: var(--size-2) var(--size-3);

        justify-content: end;
        gap: var(--size-2);
    }
}
