@layer utilities {
    .flex {
        display: flex;

        .col {
            flex-direction: column;
        }
    }

    .items-center {
        align-items: center;
    }

    .gap-2 {
        gap: var(--size-2);
    }

    .mb-4 {
        margin-bottom: var(--size-4);
    }

    .text-0 {
        font-size: var(--font-size-0);
    }

    .text-1 {
        font-size: var(--font-size-1);
    }

    .text-3 {
        font-size: var(--font-size-3);
    }

	.pointer {
		cursor: pointer;
	}
}
